@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Oswald:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-oswald: "Oswald";
  --font-roboto: "Roboto";
  --color-putih: #d3d0d7;
  --color-hitam: #212121;
}

@layer base {
  body {
    @apply bg-putih text-hitam font-roboto selection:bg-hitam selection:text-putih;
  }
}

@layer components {
  .nav-fixed {
    @apply fixed top-0 left-0 w-full z-50;
  }
  .nav-text {
    @apply relative overflow-hidden;
  }
  .nav-text.no-hover .text-default {
    @apply opacity-100;
  }
  .nav-hover {
    @apply absolute top-0 left-0;
  }

  .project-item {
    @apply relative overflow-hidden bg-transparent text-black;
  }
  .bg-overlay {
    @apply absolute inset-0 bg-hitam;
    transform: translateY(100%);
  }
  .project-text {
    @apply relative overflow-hidden;
  }
  .project-hover {
    @apply absolute top-0 left-0;
    color: #d3d0d7;
  }
}
