@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Oswald:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-oswald: "Oswald";
  --font-roboto: "Roboto";
  --color-ungu: #211d27;
  --color-putih: #d3d0d7;
  --color-ungu-text: #d0b4f3;
}

@layer base {
  body {
    @apply bg-black text-putih font-roboto;
  }
}

@layer components {
  .Clickable {
    @apply bg-ungu text-ungu-text rounded hover:brightness-150 cursor-pointer;
  }
  .nav-fixed {
    @apply fixed top-0 left-0 w-full z-50;
  }
  .project-card {
    @apply h-full w-full object-cover overflow-hidden;
  }
}